body {
    background-image: url("hair.jpg");
    height: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body, html {
    margin: 0;
    padding: 0;
}
table {
    margin-top: 10cm;
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 15px;
    font-size: 25px;
}

td {
    padding: 10px;
    font-size: 25px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ccc;
}